# Exploração de Dados

O objetivo deste notebook é realizar a exploração de dados para entender melhor o conjunto de dados, identificar padrões, características e potenciais problemas. A exploração de dados é uma etapa fundamental para garantir que as análises subsequentes sejam precisas e relevantes.

### Passos principais:
1. **Carregamento dos Dados**: O primeiro passo é carregar os dados no ambiente de análise para visualizar sua estrutura e conteúdo.
2. **Análise das Colunas e Tipos de Dados**: Verificaremos os tipos de dados, se existem valores nulos e outros aspectos importantes das colunas.
3. **Estatísticas Descritivas**: Calcularemos estatísticas descritivas para entender a distribuição e os principais parâmetros das variáveis numéricas.
4. **Identificação de Outliers e Anomalias**: Identificaremos possíveis valores atípicos que possam interferir nas análises.
5. **Conversão de Tipos de Dados**: Em alguns casos, será necessário converter os tipos de dados para que as análises sejam realizadas de forma eficiente.

Vamos iniciar carregando os dados e explorando seu conteúdo.

## Carregar Bibliotecas

Para este notebook de exploração de dados, começamos importando a biblioteca **Pandas**, que é fundamental para manipulação e análise de dados em Python. O Pandas oferece estruturas de dados rápidas, poderosas e flexíveis, que são essenciais para o processamento de dados em formato tabular.

In [0]:
import pandas as pd

## Carregamento dos Dados

Nesta etapa, estamos carregando os dados de um arquivo CSV localizado no caminho especificado. Utilizamos o **Apache Spark** para fazer isso, o que nos permite processar grandes volumes de dados de forma distribuída e eficiente.

Primeiro, definimos o caminho do arquivo CSV e, em seguida, carregamos os dados em um DataFrame Spark. O parâmetro `header=True` garante que a primeira linha do arquivo seja usada como nomes das colunas, e o `inferSchema=True` permite que o Spark detecte automaticamente os tipos de dados das colunas.

Após o carregamento dos dados, exibimos o esquema para verificar os tipos de cada coluna e garantir que os dados foram interpretados corretamente.

In [0]:
# Definir o caminho do arquivo
file_path = "/FileStore/Data/Walmart.csv"

# Carregar os dados em um DataFrame Spark
walmart_data = spark.read.csv(file_path, header=True, inferSchema=True)

# Exibir o esquema dos dados (tipos de cada coluna)
walmart_data.printSchema()

root
 |-- transaction_id: integer (nullable = true)
 |-- customer_id: integer (nullable = true)
 |-- product_id: integer (nullable = true)
 |-- product_name: string (nullable = true)
 |-- category: string (nullable = true)
 |-- quantity_sold: integer (nullable = true)
 |-- unit_price: double (nullable = true)
 |-- transaction_date: string (nullable = true)
 |-- store_id: integer (nullable = true)
 |-- store_location: string (nullable = true)
 |-- inventory_level: integer (nullable = true)
 |-- reorder_point: integer (nullable = true)
 |-- reorder_quantity: integer (nullable = true)
 |-- supplier_id: integer (nullable = true)
 |-- supplier_lead_time: integer (nullable = true)
 |-- customer_age: integer (nullable = true)
 |-- customer_gender: string (nullable = true)
 |-- customer_income: double (nullable = true)
 |-- customer_loyalty_level: string (nullable = true)
 |-- payment_method: string (nullable = true)
 |-- promotion_applied: boolean (nullable = true)
 |-- promotion_type: string (nullable = true)
 |-- weather_conditions: string (nullable = true)
 |-- holiday_indicator: boolean (nullable = true)
 |-- weekday: string (nullable = true)
 |-- stockout_indicator: boolean (nullable = true)
 |-- forecasted_demand: integer (nullable = true)
 |-- actual_demand: integer (nullable = true)

## Conversão para Pandas

Para facilitar a visualização e manipulação dos dados, convertemos o DataFrame do Spark para um DataFrame do **Pandas**. O Pandas oferece uma interface mais familiar e poderosa para análise de dados em pequenos conjuntos de dados, permitindo visualizar e realizar operações como filtrar, agrupar e transformar os dados de forma mais intuitiva.

Após a conversão, usamos o método `head()` do Pandas para exibir as primeiras linhas do DataFrame e termos uma ideia do conteúdo dos dados.

In [0]:
# Converter o DataFrame Spark para Pandas para melhor visualização
walmart_pd = walmart_data.toPandas()

# Exibir as primeiras linhas do Pandas DataFrame
walmart_pd.head()

,transaction_id,customer_id,product_id,product_name,category,quantity_sold,unit_price,transaction_date,store_id,store_location,...,customer_loyalty_level,payment_method,promotion_applied,promotion_type,weather_conditions,holiday_indicator,weekday,stockout_indicator,forecasted_demand,actual_demand
0,1,2824,843,Fridge,Electronics,3,188.46,3/31/2024 21:46,3,"Miami, FL",...,Silver,Credit Card,True,None,Stormy,False,Friday,True,172,179
1,2,1409,135,TV,Electronics,4,1912.04,7/28/2024 12:45,5,"Dallas, TX",...,Gold,Cash,True,Percentage Discount,Rainy,False,Monday,True,109,484
2,3,5506,391,Fridge,Electronics,4,1377.75,6/10/2024 4:55,1,"Los Angeles, CA",...,Platinum,Cash,False,None,Sunny,False,Tuesday,True,289,416
3,4,5012,710,Smartphone,Electronics,5,182.31,8/15/2024 1:03,5,"Miami, FL",...,Silver,Cash,True,Percentage Discount,Sunny,True,Sunday,False,174,446
4,5,4657,116,Laptop,Electronics,3,499.28,9/13/2024 0:45,6,"Chicago, IL",...,Bronze,Digital Wallet,False,None,Sunny,False,Thursday,True,287,469

## Número de Linhas e Colunas

Nesta etapa, estamos verificando o número de linhas e colunas do DataFrame. Isso é importante para entender o tamanho do conjunto de dados e garantir que ele foi carregado corretamente.

Usamos o atributo `shape` do DataFrame Pandas para obter as dimensões do dataset. O `shape[0]` nos fornece o número de linhas e o `shape[1]` nos fornece o número de colunas.

In [0]:
#Exibir o número de linhas e colunas:
print(f"Número de linhas: {walmart_pd.shape[0]}")
print(f"Número de colunas: {walmart_pd.shape[1]}")

Número de linhas: 5000
Número de colunas: 28

## Resumo Estatístico

Agora, vamos calcular as **estatísticas descritivas** do conjunto de dados. Esse resumo fornece informações como a média, o desvio padrão, o valor mínimo, o valor máximo e os quartis das variáveis numéricas. Ele é essencial para compreender a distribuição e a variabilidade dos dados.

O método `describe()` do Pandas gera essas estatísticas para todas as colunas numéricas no DataFrame.

In [0]:
#Exibir o resumo estatístico
walmart_pd.describe()  # Estatísticas descritivas

,transaction_id,customer_id,product_id,quantity_sold,unit_price,store_id,inventory_level,reorder_point,reorder_quantity,supplier_id,supplier_lead_time,customer_age,customer_income,forecasted_demand,actual_demand
count,5000.000000,5000.000000,5000.000000,5000.000000,5000.000000,5000.000000,5000.000000,5000.000000,5000.000000,5000.00000,5000.000000,5000.000000,5000.000000,5000.000000,5000.00000
mean,2500.500000,5542.497200,551.233400,2.982800,1023.467294,10.525000,253.121800,99.788000,200.517000,300.12560,5.523000,44.124000,70041.627846,297.134000,299.08840
std,1443.520003,2582.126997,258.826606,1.419474,559.614242,5.786888,142.885456,29.132387,58.257381,116.39486,2.863549,15.329358,29053.371736,115.568806,121.68078
min,1.000000,1001.000000,100.000000,1.000000,50.100000,1.000000,0.000000,50.000000,100.000000,100.00000,1.000000,18.000000,20005.340000,100.000000,90.00000
25%,1250.750000,3279.000000,322.000000,2.000000,537.775000,5.000000,130.000000,75.000000,150.750000,199.00000,3.000000,31.000000,44865.417500,195.000000,194.00000
50%,2500.500000,5558.000000,559.000000,3.000000,1029.175000,11.000000,253.000000,100.000000,200.500000,299.00000,6.000000,44.000000,70188.290000,297.500000,299.00000
75%,3750.250000,7767.250000,776.000000,4.000000,1506.307500,16.000000,377.250000,125.000000,251.000000,405.00000,8.000000,58.000000,95395.872500,395.000000,404.00000
max,5000.000000,9998.000000,999.000000,5.000000,1999.850000,20.000000,500.000000,150.000000,300.000000,500.00000,10.000000,70.000000,119999.780000,500.000000,510.00000

## Remover Linhas Duplicadas

Em alguns casos, podemos ter **linhas duplicadas** nos dados, o que pode afetar a análise. Para garantir que cada observação seja única, aplicamos a função `drop_duplicates()` do Pandas. Essa função remove todas as linhas que são duplicadas, deixando apenas a primeira ocorrência de cada combinação única de valores.

Usamos o parâmetro `inplace=True` para garantir que a remoção seja realizada diretamente no DataFrame, sem a necessidade de criar uma cópia.

In [0]:
# Remover linhas duplicadas
walmart_pd.drop_duplicates(inplace=True)

## Verificar Valores Nulos

Agora, vamos verificar se há **valores nulos** no conjunto de dados. A presença de valores nulos pode interferir nas análises subsequentes, por isso é importante identificá-los.

O método `isnull()` retorna um DataFrame booleano onde `True` indica que o valor é nulo. Em seguida, usamos `sum()` para contar o número total de valores nulos em cada coluna.

In [0]:
#Verificar valores nulos
walmart_pd.isnull().sum()

Out[19]: transaction_id            0
customer_id               0
product_id                0
product_name              0
category                  0
quantity_sold             0
unit_price                0
transaction_date          0
store_id                  0
store_location            0
inventory_level           0
reorder_point             0
reorder_quantity          0
supplier_id               0
supplier_lead_time        0
customer_age              0
customer_gender           0
customer_income           0
customer_loyalty_level    0
payment_method            0
promotion_applied         0
promotion_type            0
weather_conditions        0
holiday_indicator         0
weekday                   0
stockout_indicator        0
forecasted_demand         0
actual_demand             0
dtype: int64

## Converter `transaction_date` para Datetime

Nesta etapa, estamos convertendo a coluna `transaction_date` para o tipo de dado **datetime**, que é mais adequado para análises de séries temporais, como agregações por data, visualizações e cálculos baseados em tempo.

Usamos o método `pd.to_datetime()` do Pandas para realizar a conversão. O parâmetro `errors='coerce'` é utilizado para garantir que valores inválidos sejam transformados em `NaT` (Not a Time) em vez de gerar erros.

Após a conversão, exibimos as primeiras linhas do DataFrame para verificar se a transformação foi bem-sucedida.

In [0]:
#Converter transaction_date para datetime:
walmart_pd['transaction_date'] = pd.to_datetime(walmart_pd['transaction_date'], errors='coerce')
# Exibir as primeiras linhas do Pandas DataFrame
walmart_pd.head()

,transaction_id,customer_id,product_id,product_name,category,quantity_sold,unit_price,transaction_date,store_id,store_location,...,customer_loyalty_level,payment_method,promotion_applied,promotion_type,weather_conditions,holiday_indicator,weekday,stockout_indicator,forecasted_demand,actual_demand
0,1,2824,843,Fridge,Electronics,3,188.46,2024-03-31 21:46:00,3,"Miami, FL",...,Silver,Credit Card,True,None,Stormy,False,Friday,True,172,179
1,2,1409,135,TV,Electronics,4,1912.04,2024-07-28 12:45:00,5,"Dallas, TX",...,Gold,Cash,True,Percentage Discount,Rainy,False,Monday,True,109,484
2,3,5506,391,Fridge,Electronics,4,1377.75,2024-06-10 04:55:00,1,"Los Angeles, CA",...,Platinum,Cash,False,None,Sunny,False,Tuesday,True,289,416
3,4,5012,710,Smartphone,Electronics,5,182.31,2024-08-15 01:03:00,5,"Miami, FL",...,Silver,Cash,True,Percentage Discount,Sunny,True,Sunday,False,174,446
4,5,4657,116,Laptop,Electronics,3,499.28,2024-09-13 00:45:00,6,"Chicago, IL",...,Bronze,Digital Wallet,False,None,Sunny,False,Thursday,True,287,469

## Converter para DataFrame do PySpark e Salvar em Parquet

Após realizar as transformações e análises no **DataFrame Pandas**, podemos convertê-lo para um **DataFrame PySpark** para aproveitarmos o poder de processamento distribuído do Spark, especialmente útil quando lidamos com grandes volumes de dados.

A função `createDataFrame()` do PySpark é utilizada para converter o DataFrame Pandas em um DataFrame PySpark. Em seguida, o DataFrame é salvo em formato **Parquet**, um formato de armazenamento eficiente para grandes volumes de dados.

O caminho onde os dados serão salvos é especificado na variável `path_temp`, e usamos o método `write.parquet()` para gravar os dados no DBFS (Databricks File System).

In [0]:
# Converter para DataFrame do PySpark
walmart_spark_df = spark.createDataFrame(walmart_pd)
# Caminho para salvar no DBFS local
path_temp = '/tmp/dados_transformed.parquet'
# Salvar em Parquet
walmart_spark_df.write.parquet(path_temp)